#btn {
	margin: 10px;
	padding: 30px 40px;
	color: wheat;
	background: darkorange;
	width: 150px;
	height: 100px;
	transition: background-color 1s ease-in-out, width 1s ease-out, height 1s ease-in, transform 1s;
	border-radius: 20%;
}

#btn:hover {
	background-color: green;
	width: 200px;
	height: 150px;
	transform: rotate(360deg);
}
