body {
	overflow: hidden;
}
.box {
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: 155px 36px 3px 0px rgb(0 151 255 / 25%);
}
.b1 {
	background: #f0652b;
	bottom: 51%;
	right: 58%;
}
.b2 {
	background: #8cbd00;
	bottom: 51%;
	left: 53%;
}
.b3 {
	background: #00aee9;
	top: 60%;
	right:58%;
}
.b4 {
	background: #f7bd00;
	top: 60%;
	left: 53%;
}
.logo {
	width: 100px;
	height: 100px;
	transform: rotate(25deg);
	position: absolute;
	left: 50%;
	top: 46%;
}
.container {
	height: 100%;
	width: 100%;
	position: absolute;
}
@media (prefers-reduced-motion: no-preference) {
	.logo {
		animation:
			container-spin infinite 20s 3s linear;
	}
	.container {
			animation: box-size infinite 6s 3s ease-in-out;
	}
	.b1 {
		animation: b1 3s linear;
	}
	.b2 {
		animation: b2 3s linear;
	}
	.b3 {
		animation: b3 3s linear;
	}
	.b4 {
		animation: b4 3s linear;
	}
}
@keyframes container-spin {
	from {
		transform: rotate(25deg);
	}
	to {
		transform: rotate(385deg);
	}
}

@keyframes box-size {
	0% {
		width: 100%;
		height: 100%;
	}
	50% {
		width: 10%;
		height: 10%;
	}
	100% {
		width: 100%;
		height: 100%;
	}
}
@keyframes b1 {
	0%{
		bottom: 315%;
		right: 480%;
	}
	100%{
		bottom: 51%;
		right: 58%;
	}
}
@keyframes b2 {
	0%{
		bottom: 315%;
		left: 375%;
	}
	100%{
		bottom: 51%;
		left: 53%;
	}
}
@keyframes b3 {
	0%{
		top: 245%;
		right: 480%;
	}
	100%{
		top: 60%;
		right:58%;
	}
}
@keyframes b4 {
	0%{
		top: 245%;
		left: 375%;
	}
	100%{
		top: 60%;
		left: 53%;
	}
}
