.pendulum {
	position: absolute;
	width: 100px;
	height: 200px;
	top: 20%;
	left: 40%;
	animation: pendulum infinite 2s ease-in-out alternate;
	transform-origin: top;
}
.container {
	height: 100%;
	width: 100%;
}
.line {
	position: absolute;
	background-color: red;
	width: 20%;
	height: 75%;
	left: 40%;
}
.circle {
	width: 80%;
	height: 40%;
	background: blue;
	position: absolute;
	left: 10%;
	border-radius: 50%;
	bottom: 0%;
}
@keyframes pendulum {
	from {
		transform: rotate(35deg);
	}
	to {
		transform: rotate(-35deg);
	}
}
