.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.color {
	width: 250px;
	min-height: 250px;
	margin: 10px;
	border: 1px solid;
	transition: all 1000ms ease-in-out;
}
.red {
	background: red;
}
.green {
	background: green;
}
.blue {
	background: lightskyblue;
}
