.container {
	display: flex;
	justify-content: space-between;
}
.color {
	width: 250px;
	min-height: 250px;
	margin: 10px;
	border: 1px solid;
}
.red {
	background: red;
	transition: flex-grow 1000ms ease-in-out;
}
.green {
	background: green;
	transition: flex-grow 1000ms ease-in-out;
}
.blue {
	background: lightskyblue;
	transition: flex-grow 1000ms ease-in-out;
}
