.flex {
	display: flex;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 75%;
}
.color {
	width: 200px;
	min-height: 130px;
	margin: 10px;
	border: 1px solid;
	transition: all 1000ms ease-in-out;
}
.red {
	background: red;
}
.green {
	background: green;
}
.blue {
	background: lightskyblue;
}

.colum-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
